<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shyfay.admin.dao.SysUserMapper">

    <sql id="listColumns">
        user_id AS "userId",
        department_name AS "departmentName",
        position_name AS "positionName",
        id_number AS "idNumber",
        user_name AS "userName",
        user_sex AS "userSex",
        birthday_time AS "birthdayTime",
        house_address AS "houseAddress",
        phone_number AS "phoneNumber"
    </sql>

    <sql id="detailColumns">
        user_id AS "userId",
        department_id AS "departmentId",
        department_name AS "departmentName",
        position_id AS "positionId",
        position_name AS "positionName",
        id_number AS "idNumber",
        user_name AS "userName",
        user_sex AS "userSex",
        birthday_time AS "birthdayTime",
        house_address AS "houseAddress",
        phone_number AS "phoneNumber",
        image_url AS "imageUrl",
        login_name AS "loginName",
        login_password AS "loginPassword"
    </sql>

    <insert id="insert" parameterType="com.shyfay.admin.bean.SysUser" >
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                user_id,
            </if>
            <if test="departmentId!=null">
                department_id,
            </if>
            <if test="departmentName!=null">
                department_name,
            </if>
            <if test="positionId!=null">
                position_id,
            </if>
            <if test="positionName!=null">
                position_name,
            </if>
            <if test="idNumber!=null">
                id_number,
            </if>
            <if test="userName!=null">
                user_name,
            </if>
            <if test="userSex!=null">
                user_sex,
            </if>
            <if test="birthdayTime!=null">
                birthday_time,
            </if>
            <if test="houseAddress!=null">
                house_address,
            </if>
            <if test="phoneNumber!=null">
                phone_number,
            </if>
            <if test="imageUrl!=null">
                image_url,
            </if>
            <if test="deleteStatus!=null">
                delete_status,
            </if>
            <if test="createTime!=null">
                create_time,
            </if>
            <if test="updateTime!=null">
                update_time,
            </if>
            <if test="createId!=null">
                create_id,
            </if>
            <if test="updateId!=null">
                update_id,
            </if>
            <if test="loginName!=null">
                login_name,
            </if>
            <if test="loginPassword!=null">
                login_password
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="departmentId!=null">
                #{departmentId},
            </if>
            <if test="departmentName!=null">
                #{departmentName},
            </if>
            <if test="positionId!=null">
                #{positionId},
            </if>
            <if test="positionName!=null">
                #{positionName},
            </if>
            <if test="idNumber!=null">
                #{idNumber},
            </if>
            <if test="userName!=null">
                #{userName},
            </if>
            <if test="userSex!=null">
                #{userSex},
            </if>
            <if test="birthdayTime!=null">
                #{birthdayTime},
            </if>
            <if test="houseAddress!=null">
                #{houseAddress},
            </if>
            <if test="phoneNumber!=null">
                #{phoneNumber},
            </if>
            <if test="imageUrl!=null">
                #{imageUrl},
            </if>
            <if test="deleteStatus!=null">
                #{deleteStatus},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
            <if test="createId!=null">
                #{createId},
            </if>
            <if test="updateId!=null">
                #{updateId},
            </if>
            <if test="loginName!=null">
                #{loginName},
            </if>
            <if test="loginPassword!=null">
                #{loginPassword}
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.shyfay.admin.bean.SysUser" >
        UPDATE sys_user
        <set>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
            <if test="departmentId!=null">
                department_id=#{departmentId},
            </if>
            <if test="departmentName!=null">
                department_name=#{departmentName},
            </if>
            <if test="positionId!=null">
                position_id=#{positionId},
            </if>
            <if test="positionName!=null">
                position_name=#{positionName},
            </if>
            <if test="idNumber!=null">
                id_number=#{idNumber},
            </if>
            <if test="userName!=null">
                user_name=#{userName},
            </if>
            <if test="userSex!=null">
                user_sex=#{userSex},
            </if>
            <if test="birthdayTime!=null">
                birthday_time=#{birthdayTime},
            </if>
            <if test="houseAddress!=null">
                house_address=#{houseAddress},
            </if>
            <if test="phoneNumber!=null">
                phone_number=#{phoneNumber},
            </if>
            <if test="imageUrl!=null">
                image_url=#{imageUrl},
            </if>
            <if test="deleteStatus!=null">
                delete_status=#{deleteStatus},
            </if>
            <if test="createTime!=null">
                create_time=#{createTime},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
            <if test="createId!=null">
                create_id=#{createId},
            </if>
            <if test="updateId!=null">
                update_id=#{updateId},
            </if>
            <if test="loginName!=null">
                login_name=#{loginName},
            </if>
            <if test="loginPassword!=null and loginPassword != ''">
                login_password=#{loginPassword}
            </if>
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>

    <update id="updateDeleteStatus">
        UPDATE sys_user SET delete_status  = 1 WHERE user_id =#{userId}
    </update>

    <select id="get" resultType="com.shyfay.admin.web.output.UserDetail">
        SELECT
        <include refid="detailColumns"/>
        FROM sys_user  WHERE user_id = #{userId}
    </select>

    <select id="getLogin" resultType="com.shyfay.admin.web.output.UserDetail">
        SELECT
        <include refid="detailColumns"/>
        FROM sys_user  WHERE login_name = #{loginName}  AND login_password = #{loginPassword} LIMIT 1
    </select>

    <select id="list" parameterType="com.shyfay.admin.web.input.UserCondition"
            resultType="com.shyfay.admin.web.output.UserList" >
        SELECT
        <include refid="listColumns" />
       FROM sys_user
        <where>
            delete_status = 0
            <if test="departmentId!=null and departmentId > 0">
               AND department_id = #{departmentId}
            </if>
            <if test="positionId!=null and positionId > 0">
                AND position_id = #{positionId}
            </if>
            <if test="userName!=null and userName != ''">
                AND user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="userSex!=null">
                AND user_sex =#{userSex}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="findExist" resultType="java.lang.Boolean">
        SELECT COUNT(1) FROM sys_user WHERE delete_status = 0 AND login_name = #{loginName}
        <if test="userId !=null and userId != 0">
            AND user_id != #{userId}
        </if>
    </select>

</mapper>